*{
	font-size:20px;
}
.h1 {
	color:#1c1ad5;
	letter-spacing:10px;
	font-size:40px;
	padding-top:30px;
	padding-bottom:30px;
	transition: all .4s linear;
} 
.h1:hover {
	color:#a61ad5;
}
#search {
	width:100%;
	padding:5px;
}
.loogoo {
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
}
.row {
	padding:25px;
    margin-bottom:15px;
	transition: all .3s linear;
}
.row:hover {
	box-shadow: 0px 0px 15px ;
}
.row .haha, .popo {
	padding-top:40px;
}
